**/.DS_Store
nbproject
manifest.mf
build.xml
.idea
*.iml

node_modules
app/browser/third-party

.project
.settings
.idea
*.iml

# _public
node_modules/*
npm-debug.log

test/test-results.xml

# build stuff.
dist
dist/*
_public
