.window-actions
    .window-actions-inner
        button.btn.window-minimize
            i.glyphicon.glyphicon-minus
            span Minimize
        button.btn.window-maximize
            i.glyphicon.glyphicon-stop
            span Maximize
        button.btn.window-restore.hide
            i.glyphicon.glyphicon-collapse-down
            span Restore
        button.btn.window-close
            i.glyphicon.glyphicon-remove
            span Close